@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 800;
    text-align: center;
    font-size: 14px;

    background-color: #f2f2f2;
    cursor: default;
}

input {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
}

textarea {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
}

/* TODO fill out more styles here... */
#app {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    width: 100%;
}

.preface {
    width: 500px;
}

.flex_break {
    flex-basis: 100%;
    height: 5px;
  }

#task {
    display: -webkit-inline-flex;
    -webkit-justify-content: center;
    -webkit-flex-align: center;
    -webkit-align-items: center;
    vertical-align: top;

    background-color: #dededed0;
    border: #507c7cd0;
    border-style: dotted;
    border-width: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 5px;

    width: 500px;
    min-height: 70px;
    overflow: auto;
}

#task_info {
    margin-inline: 20px;
    width: 330px;
    margin-top: 5px;
    margin-bottom: 5px;

    text-align: left;
}

.finished_task_info {
    text-decoration: line-through;
    color: #636363;
}

.task_title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.task_description {
    margin-top: 0px;
    margin-bottom: 0px;
}

.edit_inputs {
    flex-direction: column;
    margin-inline: 20px;
    width: 330px;

    opacity: d0;
}

.edit_title {
    background-color: #f2f2f2;
    border-width: 0px;
    
    opacity: d0;

    height: 20px;
    width: inherit;
}

.edit_description {
    margin-top: 3px;
    margin-bottom: 0px;

    background-color: #f2f2f2;
    border-width: 0px;

    min-height: 35px;
    height: fit-content;
    width: inherit;
}

.edit_and_delete_buttons {
    display: flex;
    flex-direction: column;
}

.add_task {
    flex-direction: row;

    background-color: #cad9dfd0;
    border: #507c7cd0;
    border-style: dotted;
    border-width: 3px;
    padding-top: 5px;
    padding-bottom: 5px;

    width: 500px;
}

.add_task_text {
    margin-top: 2px;
    margin-bottom: 6px;
}

.add_inputs {
    width: inherit;
}

.add_title {
    background-color: #f2f2f2d0;
    border-width: 0px;

    width: 485px;
    height: 25px;
}

.add_description {
    margin-top: 5px;
    background-color: #f2f2f2d0;
    border-width: 0px;

    width: 485px;
    height: 75px;
}

#btn {
    height: 30px;
    width: 60px;
    padding: 2px;

    cursor: pointer;

    font-size: 16px;
    text-anchor: middle;
    text-align: center;
}#btn:hover {
    color: #f2f2f2;
}

.done_button {
    color: #009900;
}.done_button:hover { 
    background-color: #009900; 
}

.edit_button {
    color: #77519e;
    margin-bottom: 3px;
}.edit_button:hover {
    background-color: #77519e;
    margin-bottom: 3px;
}

.delete_button {
    margin-top: 3px;
    color: #a22a2a;
}.delete_button:hover {
    margin-top: 3px;
    background-color: #a22a2a;
}

.add_button {
    margin-top: 1px;
    color: #007399;
}.add_button:hover {
    margin-top: 5px;
    background-color: #007399;
}

.restore_button {
    color: #512fb6;
}.restore_button:hover {
    background-color: #512fb6;
}

.finish {
    margin-top: 0px;
}

.list_header {
    background-color: #cad9dfa3; 
    height: 30px;

    margin-bottom: 10px;
    size: 18px;
    width: 505px;

    margin-top: 15px;
}

.settings {
    position: absolute;
    right: 15px;
    top: 15px;

    width: 40px;
    height: 40px;
}

.settings_button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: inherit;
    height: inherit;

    background: transparent;
    border-width: 0px;

    z-index: 1;
}

.settings_pic {
    width: inherit;
    height: inherit;

    z-index: 2;
}

.dropdown_menu {
    position: inherit;
    display: inline-flex;
    flex-direction: column;

    right: -5px;
    top: -5px;

    min-width: 210px;
    width: fit-content;

    min-height: 300px;
    height: fit-content;

    background: #cad9dfa3;
    border-color: #007399;
    border-width: 2px;
    border-style: dotted;

    padding: 10px;
    z-index: 0;
}

.settings_text {
    width: 100%;
    height: fit-content;

    margin: -1px;
    margin-left: 5px;
    text-align: left;
}

.theme_text {
    width: 100%;
    height: fit-content;

    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 0px;

    text-align: left;
}

.theme_line {
    width: 100%;
    height: .5px;

    margin-top: 0px;
    margin-bottom: 5px;

    border-width: 0px;
    background-color: #828282;
}

.theme_icons {
    display: inherit;
    flex-wrap: nowrap;
    flex-direction: row;
}

.toggle_flowers {
    background-color: #f2f2f2;
}

.toggle_technology {
    background-color: #C0C0C0;
}

.toggle_purdue {
    background-color: #9D968D;
}

#icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    margin-inline: 5px;
}

#icon_image {
    width: inherit;
    height: inherit;
}

#decal {
    position: fixed;
    z-index: -1;
}

.bottom_technology_decal {
    bottom: -100px;
    width: 80%;
    left: 10%;
}

.purdue_decal {
    bottom: 25px;
    width: 80%;
    left: 10%;
}

.bottom_decal {
    bottom: 0px;
    width: 80%;
    left: 10%;
}

.left_technology_decal {
    left: -120px;
    top: 30px;

    width: 375px;
    height: 300px;
}

.boiler_decal {
    left: -120px;
    top: 70px;

    width: 375px;
    height: 300px;
}

.left_decal {
    left: -120px;
    top: 450px;

    width: 375px;
    height: 300px;
}

.pete_decal {
    right: -180px;
    bottom: 280px;

    width: 425px;
    height: 450px;
}

.right_decal {
    right: -200px;
    top: 110px;

    width: 450px;
    height: 450px;
}
