@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 800;
    text-align: center;
    font-size: 14px;

    background-color: #f2f2f2;

    cursor: default;
}

/* TODO fill out more styles here... */
#app {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

.flex_break {
    flex-basis: 100%;
    height: 5px;
  }

.task {
    display: -webkit-inline-flex;
    -webkit-justify-content: center;
    -webkit-flex-align: center;
    -webkit-align-items: center;
    vertical-align: top;

    background-color: #cad9df;
    border: #507c7c;
    border-style: dotted;
    border-width: 3px;
    padding-top: 2px;
    padding-bottom: 2px;

    width: 500px;
    min-height: 70px;
    overflow: auto;
}

.task_info {
    margin-inline: 20px;
    width: 330px;

    text-align: left;
}

.task_title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.task_description {
    margin-top: 0px;
    margin-bottom: 0px;
}

.edit_and_delete_buttons {
    display: flex;
    flex-direction: column;
}

.add_task {
    flex-direction: row;

    background-color: #cad9df;
    border: #507c7c;
    border-style: dotted;
    border-width: 3px;
    padding-top: 5px;
    padding-bottom: 5px;

    width: 500px;
}

.add_inputs {
    width: inherit;
}

.add_title {
    background-color: #f2f2f2;
    border-width: 0px;

    width: 475px;
    height: 25px;
}

.add_description {
    margin-top: 5px;
    background-color: #f2f2f2;
    border-width: 0px;

    width: 475px;
    height: 75px;
}

#btn {
    height: 30px;
    width: 60px;
    padding: 2px;

    font-size: 16px;
}

.done_button {
    color: #009900;
}

.edit_button {
    color: #512fb6;
    margin-bottom: 3px;
}

.delete_button {
    margin-top: 3px;
    color: #a22a2a;
}

.add_button {
    margin-top: 5px;
    color: #007399;
}

.finish_text {
    margin-top: 20px;
    width: 100%;
}

.flower_decal {
    position: absolute;
    bottom: 0px;
    width: 80%;
}